.panel-body {
  display: table;
  padding: 0;
  margin: 30px 0;
}

.photo {
  float: left;
  margin-right: 30px;
}

.photo:hover {
  cursor: pointer;
}

.photo img {
  width: 200px;
  height: 200px;
}

.price {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  text-align: right;
  width: 200px;
  color: #00ff00;
}

.description {
  color: #e68a00;
  font-style: italic;
}

.featured {
  background: #57595d;
  border: 5px solid blue;
}

.select-quantity {
  margin-left: 20px;
}

input.number {
  width: 20px;
  text-align: center;
}
